th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 25px;
}
td {
    border: 1px solid black;
    font-size: 25px;
}
table{
    text-align: center;
}
input{
    width: 90%;
    margin: 8px 0;
    box-sizing: border-box;
}
select{
    width: 90%;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
}
