<div id="menu">
    <a href="/" class="elmenu">main</a>
    <a href="/register" class="elmenu">register</a>
    <a href="/login" class="elmenu">login</a>
    <a href="/admin" class="elmenu">admin</a>
</div>