<div id="menu">
    <a href="/" class="elmenu">main</a>
    <a href="/register" class="elmenu">register</a>
    <a href="/login" class="elmenu">login</a>
    <a href="/admin" class="elmenu">admin</a>
</div>
<table>
    <form action="/login" method="POST">
        <tr>
            <td><label for="login">login:</label></td>
            <td><input type="text" name="login"></td>
        </tr>
        <tr>
            <td><label for="password">Hasło:</label></td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="submit" value="Zaloguj">
            </td>
        </tr>
    </form>
</table>