<tr>
    <td>
        <img src="http://atarionline.pl/biblioteka/czasopisma/{{album}}/{{data.miniatura}}" alt="{{data.miniatura}}">
    </td>
    <td>
        format:
        {{data.format}}
        <!-- rozmiar:<br />
    {{data.format}} -->
        <br />format:
        {{data.strony}}
        <br />plik:
        <a href="http://atarionline.pl/biblioteka/czasopisma/{{album}}/{{data.plik}}">tutaj</a>
    </td>
    <td>
        nazwa:<br />
        {{data.name}}
        numer:<br />
        {{data.numer}}
        wydawca:<br />
        {{data.wydawca}}
    </td>
    <td>
        skan:
        {{data.skan}}
        <br />przetworzenie:
        {{data.przetworzenie}}
        <br />podesłał:
        {{data.podeslal}}
    </td>
</tr>